header{
  padding: 20px;
  margin-bottom:0px;
  border: 1px solid black;
  width:100%;
}

div{
  display:inline-block;
  border: 1px solid black;
}
section{
  border:1px solid black;
}

ul{
  display:inline-block;
}
p{
  display:inline-block;
}

.leftheadtext{
  text-align:
  padding-top: 0px;
  padding-bottom: 0px;
}
.delicious{
  margin-bottom: -15px;
  font-family: 'Yellowtail', cursive;
  border: 1px solid black;
  font-size: 200%;
}

.leftheader{
  margin-bottom: 10px;
  width:100%;
}
.rightheader{
  margin-left: 600px;
}

.underdelicious{
  padding: 0px;
  border: 1px solid black;
  font-size: 15%;
}

.pintspace{
  margin-right: 10px;
}

.bottomborder{
  background-image: url("../img/border-img.png");
  background-repeat: repeat-x;
  margin-bottom: 0px;
  margin-top:-150px;
  width: 100%;
  height: 20px;
}

.bigpicture{
  margin: 10px;
}
.chocolatepizza{
  border:1px solid black;
  margin-bottom: -25px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.dateposted{
  border: 1px solid black;
  margin-top:0px;
  padding:0px;
  font-size:15%;
}

.print{
  margin-left: 600px;
}
.chocolatepic{
  display:block;
}

.recipe{
  display:block;
  background-image:url("../img/list-bg.png");
}
