body{
  position:absolute;
}
header{
  position:relative;
  margin-left:75px;
  margin-right:192px;
  border: 1px solid black;
  width:100%;
}

div{
  display:inline-block;
  border: 1px solid black;
}
section{
  border:1px solid black;
}

ul{
  display:inline-block;
}
p{
  display:inline-block;
}

.leftheadtext{
  text-align:
  padding-top: 0px;
  padding-bottom: 0px;
}
.delicious{
  margin-bottom: -15px;
  font-family: 'Yellowtail', cursive;
  border: 1px solid black;
  font-size: 200%;
}

.leftheader{
  position: relative;
  margin: 20px 192px 20px 75px;
  width:75%;
}
.rightheader{
  padding-top:30px;
  padding-bottom:5px;
  margin-top:10px;
  float: right;
}

.underdelicious{
  font-family: 'Martel', serif;
  padding: 0px;
  border: 1px solid black;
  font-size: 15%;
}

.pintspace{
  margin-right: 10px;
}

.bottomborder{
  background-image: url("../img/border-img.png");
  background-repeat: repeat-x;
  margin: 0px 192px 0px 75px;
  width: 75%;
  height: 20px;
}

.bigpicture{
  padding-left: 75px;
  margin: 10px 180px 0px 75px;
  width 75%;
}
.chocolatepizza{
  border:1px solid black;
  margin:0px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.dateposted{
  font-family: 'Martel', serif;
  opacity:0.5;
  border: 1px solid black;
  margin-top:0px;
  padding:0px;
  font-size:9px;
}

.print{
  float:right;
  font-family: 'Martel', serif;
  margin-top:0px;
  font-size:10px;
}
.fill{
  display:flex;
  justify-content: center;
  align-items:center;
  overflow:hidden;
}
.fill img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.recipe{
  display:block;
  background-image:url("../img/list-bg.png");
}
